ONGO_URI=mongodb+srv://malojighorpade07_db_user:5Z222Cnalb6LEg7H@distributionmng.ghgxm7d.mongodb.net/?appName=DistributionMng";mongodb+srv://malojighorpade07_db_user:5Z222Cnalb6LEg7H@distributionmng.ghgxm7d.mongodb.net/?appName=DistributionMng
JWT_SECRET=mySuper$ecretKey_ChangeThis_2024!
JWT_EXPIRE=7d
CLOUDINARY_CLOUD_NAME=dting8hrz
CLOUDINARY_API_KEY=376199417693381
CLOUDINARY_API_SECRET=dting8hrz
CLIENT_URL=http://localhost:3000